In [4]:
a=10
type(a)

int


to know the data type of a variable we use :    type(var_name)

# Head

In [5]:
b = 3.14
type(b)

float

In [6]:
c="Ankit Dubey"
type(c)

str

In [7]:
d='Ankit'
type(d)

str

Single quotes are used to mark a quote within a quote or a direct quote in a news story headline.
example::::
name = '"Hi" ABC'
print(name)
output::::
Hi" ABC
A double quotation mark is to set off a direct (word-for-word) quotation. For example – “I hope you will be here,” he said. In Python Programming, we use Double Quotes for string representation
Single Quotation Mark	    Double Quotation Mark
Represented as ‘ ‘    	    Represented as ” “
Single quotes for anything that behaves like an Identifier.	                                   Double quotes generally we used for text.
Single quotes are used for regular expressions, dict keys or SQL.	                         Double quotes are used for string representation.
Eg. ‘We “welcome” you.’	       Eg. “Hello it’s me.”

In [8]:
e = True
e

True

In [9]:
type(e)

bool

In [10]:
f=False
type(f)

bool

In [11]:
True-False

1

by default True = 1
and False = 0

In [13]:
True-True

0

In [14]:
False-True

-1

In [15]:
True/False

ZeroDivisionError: division by zero

inside numpy module (numerical python ) in that it will give inf i.e. infinity

In [17]:
n=5+7j

j use hota hai complex numbers ko  denote karne ke liye python mei it is reserved for that

In [18]:
type(n)

complex

In [19]:
n+n

(10+14j)

 * to extract real and img part 
 * also tab can be used to see all the options available

In [21]:
n.real

5.0

In [22]:
n.conjugate

to know the definition of a function go to written function or keyword and press shift+tab to know about it

list variable is ues to store a list , can store any amount of data ....uses square Bracket

In [23]:
a = [1,2,"andy", True , 1+3j]

In [24]:
type(a)

list

list stores a data index wise starting from 0 to n-1

In [25]:
a[2]

'andy'

In [26]:
a[0]

1

In [27]:
a

[1, 2, 'andy', True, (1+3j)]

there is another variable tuples similar to list it's notation is normal brackets(round)

In [28]:
b = (1,"Ankit",2+0j)
type(b)

tuple

Dictionary variable:

In [33]:
c = {'a' : "Ankit" , 'b' : "abcd" , 'c' : 123}
type(c)

dict

it has a key and a value so key pair principle

In [36]:
e = {54}

In [37]:
type(e)

set