In [1]:
a = 21
if a == 10 :
    print("ankit")

In [2]:
a = 21
if a == 21 :
    print("ankit")

ankit

In [3]:
a = 13 
if a < 5 :
    print("anndy")
else:
    print("none")

none

In [4]:
a = 13 
if a >=5 :
    print("anndy")
else:
    print("none")

anndy

In [5]:
a = 13 
if a < 5 :
    print("anndy")
elif a ==13 :
    print("Treesdc")
else:
    print("none")

Treesdc

In [6]:
a < 5

False

In [7]:
a>5

True

In [8]:
a = 13 
if a < 5 :
    print("anndy")
elif a >= 13 :
    print("Treesdc")
else:
    print("none")

Treesdc

In [9]:
a == 13

True

In [10]:
 l = [1,2,4,2,4,6,3,56,8,4,76,4,3,6,3,4,7,4]

In [11]:
23 in l

False

In [12]:
2 in l

True

In [13]:
if 2 in l :
    print("abcd")
else :
    print(54)

abcd

In [14]:
if 224 in l :
    print("abcd")
else :
    print(54)

54

In [15]:
if 2 in l :
    print("abcd")
else :
    print(54)
if 224 in l :
    print("abcd")
else :
    print(54)

abcd
54

In [16]:
price = int(input())
if price <500 :
    if price <= 200 :
        print("jayda hi sasta hai kharab hoga")
    elif price == 300 :
        pint("thik thak hai")
    else: 
        print("bhaiya thoda thik thak laga lo ek baar bolo")
else :
    print("bahaut mehnga hai")

365
bhaiya thoda thik thak laga lo ek baar bolo

In [17]:
b = input()

6456

In [18]:
b

'6456'

In [19]:
type(b)

str

In [20]:
b = int(input())

jnhb 635

ValueError: invalid literal for int() with base 10: 'jnhb 635'

In [21]:
price = int(input())
if price <500 :
    if price > 500 :
        print("jayda hi sasta hai kharab hoga")
    elif price == 300 :
        pint("thik thak hai")
    else: 
        print("bhaiya thoda thik thak laga lo ek baar bolo")
else :
    print("bahaut mehnga hai")

526
bahaut mehnga hai

***upar wale mei jo if ke andar wala if hai vo contradict kar rha hai ek doosre ko lekin pehle bahar wala if chalega aur vo satisfy nhi kar rha hai isliye else sabse niche wala chalega

In [22]:
print("Enter marks obtained")

Enter marks obtained

In [25]:
print("Enter marks obtained")
m = int(input())
if m < 600 :
    print("sorry no gre")
    if  400 < m < 500 : 
        print("you get tofel")
    else :
        print(" no tofel also , try something else")
else :
    print("congo you get gre")

Enter marks obtained
456
sorry no gre
you get tofel

In [27]:
val  = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

enter a floating point number-24.469
entered number is a negative number

In [31]:
a = int(input())
if a <10 or a >15 :
    print("okay")
else:
    print("not ok")

15
not ok

In [35]:
a = int(input())
if a >10 and  a >12 :
    print("okay")
else:
    print("not ok")

11
not ok

In [39]:
l = [1,2,2.3233,5+4j,"andy"]

In [40]:
for i in l :
    print(i)

1
2
2.3233
(5+4j)
andy

In [41]:
for i in l :
    if type(i) == int:
        print(i-1)
    elif type(i) == float:
        print(i+1)
    elif type(i) == complex :
        print(i)
    else :
        print(i+" is great")

0
1
3.3233
(5+4j)
andy is great

In [45]:
l = [1,2,2.3233,5+4j,"andy"]
l1=[]
for i in l :
    if type(i) == int:
        l1.append(i)

In [46]:
l1

[1, 2]