In [32]:
a = "ankit"
for i in a :
    print(i)

a
n
k
i
t

In [33]:
a="ankit"
for i in a :
    pass 
#to do nothing

In [34]:
## for and else
#the else block will run only when for loop is going to exhaust itself
a = [1,2,3]
for i in a :
    print(i)
else :
    print("executed when for is complete")

1
2
3
executed when for is complete

In [35]:
a = [1,2,3,4,5,"andy"]
for i in a :
    if i == 4:
        break
    print(i)
else :
    print("executed when for is complete")

1
2
3

In [36]:
a = [1,2,3,4,5,"andy"]
for i in a :
    if i == 6:
        break
    print(i)
else :
    print("executed when for is complete")

1
2
3
4
5
andy
executed when for is complete

***...
for loop in tuples ,set , dict :
***...

In [37]:
t = (1,2,"andy",4,4+6j)
for i in t :
    print(i)

1
2
andy
4
(4+6j)

In [38]:
s = {11,1,2,1,34,2,4,2,45,6,6,7,4,4,2,3,5}

In [39]:
type(s)

set

In [40]:
s

{1, 2, 3, 4, 5, 6, 7, 11, 34, 45}

In [41]:
for i in s :
    print(i)

1
2
3
34
4
6
7
5
11
45

In [42]:
d = {1 : "andy" , "key1" : "ankit" , "a": 232}
for i in d:
    print(i)

1
key1
a

In [43]:
d[1]

'andy'

In [44]:
for i in d :
    print(d[i])

andy
ankit
232

In [45]:
for i in d:
    print(i , ":" , d[i] )

1 : andy
key1 : ankit
a : 232

In [46]:
range(12)

range(0, 12)

In [47]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [48]:
range(2,14,3)

range(2, 14, 3)

In [49]:
list(range(2,14,3)) 
# 2 is starting pt , 14 is end pt and 3 is step
# by default step size is +1

[2, 5, 8, 11]

In [50]:
list(range(0,5,-1))

[]

In [51]:
list(range(8,2,-2))

[8, 6, 4]

In [52]:
for i in range(5):
    for j in range (0,i+1):
        print("ankit", end =" ")
    print("\n")

ankit

ankit ankit

ankit ankit ankit

ankit ankit ankit ankit

ankit ankit ankit ankit ankit

In [85]:
##impo ?????????
n = 3
k=n
for i in range (n):
    k=k-1
    print( "  " * k  , end = " " ) 
    for j in range(i+1):
        print(" andy " , end =" ")
    print("\n")

      andy

    andy   andy

  andy   andy   andy

In [90]:
t =(0,23,23,4,5,56,2,4,)
t[0]

0

In [93]:
for i in t:
    print( t.index(i) , i)

0 0
1 23
1 23
3 4
4 5
5 56
6 2
3 4

In [94]:
#alternate way for the above problem :
for i in range(len(t)):
    print(i,t[i])

0 0
1 23
2 23
3 4
4 5
5 56
6 2
7 4

In [95]:
a = "ankit"
for i in range(len(a)) :
    print(i,a[i])

0 a
1 n
2 k
3 i
4 t

In [128]:
a = "ankit"
for i in range(len(a)-1,-1,-1):
    print(i,a[i])

4 t
3 i
2 k
1 n
0 a

In [129]:
d

{1: 'andy', 'key1': 'ankit', 'a': 232}

In [130]:
d.items()

dict_items([(1, 'andy'), ('key1', 'ankit'), ('a', 232)])

In [138]:
for i in d.items():
    print(i,type(i),type(i[1]))

(1, 'andy') <class 'tuple'> <class 'str'>
('key1', 'ankit') <class 'tuple'> <class 'str'>
('a', 232) <class 'tuple'> <class 'int'>

In [139]:
l = {"abc" , "def",122131 , "ghi@ineuron.ai",324,34324}
l1= []
for i in l :
    if type(i) == int :
        l1.append(i)

In [140]:
l1

[324, 122131, 34324]

In [141]:
d = {1: 3345345  , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [142]:
d.keys()

dict_keys([1, 'name', 'email_id', 234, '43'])

In [144]:
for i in d :
    if type(i) == int:
        print(i , ":" , d[i])

1 : 3345345
234 : 3454

In [145]:
s = "aaaabbbbccccccdddd"

In [148]:

##wrong output
for i in s :
    if i == "a":
        print("a" ," : ", s.count(i))
    elif i == "b" :
        print("b" ," : ", s.count(i))
    elif i == "c" :
        print("c" ," : ", s.count(i))
    elif i == "d" :
        print("d" ," : ", s.count(i))

a  :  4
a  :  4
a  :  4
a  :  4
b  :  4
b  :  4
b  :  4
b  :  4
c  :  6
c  :  6
c  :  6
c  :  6
c  :  6
c  :  6
d  :  4
d  :  4
d  :  4
d  :  4

In [149]:
for i in set(s) :
    print(i, " " , s.count(i))

d   4
b   4
c   6
a   4

In [150]:
s.count("aa")

2

In [155]:
t = 23423432424 
for i in str(t) :
    print(int(i),type(int(i)))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
4 <class 'int'>
2 <class 'int'>
4 <class 'int'>

In [189]:
t = ("sud33h" , "kum3ar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar", 3 : "andy"})

In [190]:
type(t)

tuple

In [194]:
###isme dono 3 wale kaise karein print ??????
for i in t :
    if type(i) == str:
        for j in i:
            if j == "3" :
                print("for str : " , j)
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print("for list and tup : ", j)
    if type(i) == dict :
        for j  in i :
            if j == 3   :
                print("for dict : " , j  ," : " ,   i[j] )

for str :  3
for str :  3
for str :  3
for list and tup :  3
for list and tup :  3
for dict :  3  :  andy

In [195]:
# assignment 
a = 10 
b = 20
c = 30 

# or 

a , b , c = 10 , 20 , 30 

# or 

a,b,c = (10,20,30)

In [205]:
for i in range(5):
    for j in range(i):
        print("ineuron" , end = " ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [216]:
##
##q2 of task ?????????????????????
##

n = 4
k=n
for i in range(n):
    k=k-1
    print(" --"* k , end = "--" )
    for j in range(i+1):
        print("*ineuron*",end=" ")
    print("\n")

 -- -- ----*ineuron*

 -- ----*ineuron* *ineuron*

 ----*ineuron* *ineuron* *ineuron*

--*ineuron* *ineuron* *ineuron* *ineuron*

In [217]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [231]:
for i in l:
    if type(i) == list:
        print(i)
        for j in range(len(i)):
            print(i[j])

[1, 2, 3, 4]
1
2
3
4
['ineuron', 'data science ']
ineuron
data science

In [223]:
for i in l:
    if type(i) == dict:
        print(i)
        for j in i:
            print(j , " : " , i[j])

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
k1  :  sudh
k2  :  ineuron
k3  :  kumar
3  :  6
7  :  8

In [233]:
for i in l:
    if type(i) == tuple:
        print(i)
        for j in range(len(i)):
            print(i[j])

(2, 3, 4, 5, 6)
2
3
4
5
6
(3, 4, 5, 6, 7)
3
4
5
6
7

In [237]:
for i in l:
    if type(i) == dict:
        print(i)
        for j in i:
            if type(j) == int: 
                print(j , " : " , i[j])

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
3  :  6
7  :  8

In [265]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [266]:
l[4]["k2"]

'ineuron'

In [267]:
l[4].keys()

dict_keys(['k1', 'k2', 'k3', 3, 7])

In [268]:
for i in l :
    if type(i) ==  dict :
        print(i)
        for j in i :
            print(j)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
k1
k2
k3
3
7

In [288]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l1=[]
for i in l:
    for j in i :
        if type(i) == list:
            l1.append(j)
        if type(i) == dict:
            l1.append(j)
        if type(i) == tuple:
            l1.append(j)
        if type(i) == set:
            l1.append(j)
             
    
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'ineuron',
 'data science ']

In [276]:
l1

[[1, 2, 3, 4],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [45, 4, 5, 23],
 ['k1', 'k2', 'k3', 3, 7],
 ['ineuron', 'data science ']]