In [4]:
#ITERATOR
l =[1,2,5,2,6]

In [2]:
# how for loop works internally????
actually next function helps to do it

In [5]:
next(l)

TypeError: 'list' object is not an iterator

In [8]:
b = iter(l)

In [10]:
next(b)

1

In [11]:
next(b)

2

In [12]:
next(b)

5

In [13]:
next(b)

2

In [14]:
next(b)

6

In [15]:
next(b)

StopIteration:

In [16]:
iter(45) # error where int is not ITERABLE

TypeError: 'int' object is not iterable

In [17]:
next(45) # Error where int is not ITERATOR

TypeError: 'int' object is not an iterator

In [ ]:
object that is iterable can be converted into oterator 
for loop first calls iter function so first in forn if iterable and then for calls next function and object
becomes iterator

In [18]:
for i in l:
    print(i)

1
2
5
2
6

In [ ]:
so list element by defaut is iterable 
and then convert into iterator

In [ ]:
for loop --> iterable objects(iter() function) into
iterator (next() function)

In [19]:
a="ayush"
next(a)

TypeError: 'str' object is not an iterator

In [32]:
b=iter(a)

In [33]:
next(b)

'a'

In [34]:
next(b)

'y'

In [36]:
tup=(1,5,2,"andy")
b=iter(tup)

In [37]:
next(b)
next(b)
next(b)
next(b)

'andy'

In [38]:
#GENERATOR

In [39]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
range func behaves live a generator func
func for sqr of data till n:

In [19]:
l1=[]
def test(n):
    i=0
    while i <= n:
        l1.append(i*i)
        i=i+1

In [20]:
test(5)

In [21]:
l1

[0, 1, 4, 9, 16, 25]

In [23]:
# or:
def sqr_fun(n):
    x=[i*i for i in range(n)]
    return x

In [24]:
sqr_fun(4)

[0, 1, 4, 9]

In [25]:
#RANGE AS GENERTOR:
def sqr_fun(n):
    x=[i*i for i in range(n)]
    yield x

In [26]:
sqr_fun(4)

In [ ]:
it is yielding a data but since no return so it dont guve output only generates 
similar to range

In [27]:
range(4)

range(0, 4)

In [29]:
for i in sqr_fun(4): #here sqr_fun is generator func
    print(i)

[0, 1, 4, 9]

In [30]:
next(sqr_fun(5))

[0, 1, 4, 9, 16]

In [31]:
next(range(0,5))

TypeError: 'range' object is not an iterator

In [35]:
r = iter(range(0,4))

In [36]:
next(r)

0

In [37]:
next(r)

1

In [38]:
next(r)

2

In [50]:
#to generate fibonacci seqn:
# 1,1,2,3,5,8,13,21,34,55,.....
def fibo(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b= b,a+b
    return l

In [51]:
fibo(8)

[1, 1, 2, 3, 5, 8, 13, 21]

In [61]:
# now we want not to get return so we want a generator function:
def fibo1(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b= b,a+b

In [62]:
fibo1(5) #generator func

In [64]:
for i in fibo1(8):
    print(i)

1
1
2
3
5
8
13
21

In [ ]:
agar generator func na ho i.e. fibo() wala func ho aur n large
ho .e. fibo(100000000000000) to ye system ko crash kar dega , hang kyonki ye pehle poori list genefrate karega fir output 
dega cpu will bw 100 % used but for generator function 
kya hoga saath ke saath list produce hogi to memory space kam use hoga thoda aur cpu bhi theek thak rahega

In [ ]:
to agar koi data lamba hai to yield use karo

# FILE HANDLING

In [68]:
f = open("abc.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'abc.txt'

In [69]:
ls # to lsit files and directories

 Volume in drive C has no label.
 Volume Serial Number is 2CF1-90A3

 Directory of C:\Users\HP\Jupyter codes

08/19/2022  07:52 PM    <DIR>          .
08/19/2022  07:52 PM    <DIR>          ..
08/19/2022  05:27 PM    <DIR>          .ipynb_checkpoints
08/19/2022  07:52 PM            18,411 _10. 18 june iterator,generator,map, file op.ipynb
08/12/2022  06:31 PM            11,892 1. 14  may  var in python intro , data types.ipynb
08/18/2022  11:47 AM            49,579 2. 15 may string operation.ipynb
08/15/2022  12:49 PM            69,356 3. 21 may list, dict , tuples .ipynb
08/16/2022  12:02 AM            13,120 4.  22 may if else and for loop.ipynb
08/16/2022  07:27 PM            25,955 5. 28 may for loop.ipynb
08/17/2022  02:33 AM         3,972,044 6. 29 may  while,func.ipynb
08/17/2022  05:01 PM            52,606 7. 4 june revision.ipynb
08/18/2022  02:18 AM            17,702 8. 5 june functions.ipynb
08/19/2022  02:21 PM            26,223 9. 12 june Exception handling.ipynb
08/19/2022  02:26 PM           408,078 9. Exception_handling_revision_class.ipynb
07/30/2020  09:31 AM            10,389 assertion.png
08/18/2022  06:48 PM    <DIR>          ASSIGNMENTS
              12 File(s)      4,675,355 bytes
               4 Dir(s)  84,445,818,880 bytes free

In [71]:
ls D:

 Volume in drive D has no label.
 Volume Serial Number is 5871-1FB7

 Directory of D:\

09/14/2021  11:06 PM    <DIR>          ankit sem 3
05/30/2022  08:20 AM            14,779 bg1.JPG
05/29/2022  08:55 AM    <DIR>          files
07/16/2021  03:07 PM    <DIR>          JAM Statistics
05/29/2022  08:51 AM    <DIR>          lpg
06/29/2022  05:04 PM    <DIR>          movies
01/09/2022  06:32 PM    <DIR>          New folder
08/09/2021  10:17 PM    <DIR>          pics
06/28/2021  01:17 PM    <DIR>          songs
               1 File(s)         14,779 bytes
               8 Dir(s)  114,056,450,048 bytes free

In [72]:
ls E:

 Volume in drive E has no label.
 Volume Serial Number is 6C76-C988

 Directory of E:\

07/05/2022  11:59 AM    <DIR>          Afcat2022
07/05/2022  12:58 PM    <DIR>          agniveer
06/19/2022  09:18 AM    <DIR>          Ankit_Vishwas_Project
03/30/2022  06:21 PM    <DIR>          asus backup
06/29/2022  09:04 PM    <DIR>          cds 2 2022
08/19/2022  07:51 PM    <DIR>          DATA SCIENCE
06/06/2022  12:26 PM         8,388,608 DB.mdf
06/06/2022  12:26 PM         8,388,608 DB_log.ldf
06/08/2022  08:28 PM         8,388,608 DB2.mdf
06/08/2022  08:28 PM         8,388,608 DB2_log.ldf
06/19/2022  09:07 AM         8,388,608 lpgdatabase.mdf
06/19/2022  09:07 AM         8,388,608 lpgdatabase_log.ldf
05/20/2022  03:30 PM    <DIR>          New folder
05/20/2022  04:12 PM    <DIR>          VSPath2019
08/11/2022  01:51 PM         1,929,155 who moved my cheese.pdf
               7 File(s)     52,260,803 bytes
               8 Dir(s)  345,975,582,720 bytes free

In [73]:
#to create file:
f = open("abc1.txt" ,'w')

In [74]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 2CF1-90A3

 Directory of C:\Users\HP\Jupyter codes

08/19/2022  07:56 PM    <DIR>          .
08/19/2022  07:56 PM    <DIR>          ..
08/19/2022  05:27 PM    <DIR>          .ipynb_checkpoints
08/19/2022  07:54 PM            23,675 _10. 18 june iterator,generator,map, file op.ipynb
08/12/2022  06:31 PM            11,892 1. 14  may  var in python intro , data types.ipynb
08/18/2022  11:47 AM            49,579 2. 15 may string operation.ipynb
08/15/2022  12:49 PM            69,356 3. 21 may list, dict , tuples .ipynb
08/16/2022  12:02 AM            13,120 4.  22 may if else and for loop.ipynb
08/16/2022  07:27 PM            25,955 5. 28 may for loop.ipynb
08/17/2022  02:33 AM         3,972,044 6. 29 may  while,func.ipynb
08/17/2022  05:01 PM            52,606 7. 4 june revision.ipynb
08/18/2022  02:18 AM            17,702 8. 5 june functions.ipynb
08/19/2022  02:21 PM            26,223 9. 12 june Exception handling.ipynb
08/19/2022  02:26 PM           408,078 9. Exception_handling_revision_class.ipynb
08/19/2022  07:56 PM                 0 abc1.txt
07/30/2020  09:31 AM            10,389 assertion.png
08/18/2022  06:48 PM    <DIR>          ASSIGNMENTS
              13 File(s)      4,680,619 bytes
               4 Dir(s)  84,447,756,288 bytes free

In [75]:
#abc1.txt is created above list see

In [76]:
#'w' is write mode , 'r' is read mode
other are a , rb etc 
w+ = both read amnd write

In [78]:
f = open("abc1.txt",'w')

In [79]:
#we have opened the file now we need to write in it

In [80]:
f.write("This is my first file operation")

31

In [81]:
f.close()

In [82]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 2CF1-90A3

 Directory of C:\Users\HP\Jupyter codes

08/19/2022  08:00 PM    <DIR>          .
08/19/2022  08:00 PM    <DIR>          ..
08/19/2022  05:27 PM    <DIR>          .ipynb_checkpoints
08/19/2022  08:00 PM            26,293 _10. 18 june iterator,generator,map, file op.ipynb
08/12/2022  06:31 PM            11,892 1. 14  may  var in python intro , data types.ipynb
08/18/2022  11:47 AM            49,579 2. 15 may string operation.ipynb
08/15/2022  12:49 PM            69,356 3. 21 may list, dict , tuples .ipynb
08/16/2022  12:02 AM            13,120 4.  22 may if else and for loop.ipynb
08/16/2022  07:27 PM            25,955 5. 28 may for loop.ipynb
08/17/2022  02:33 AM         3,972,044 6. 29 may  while,func.ipynb
08/17/2022  05:01 PM            52,606 7. 4 june revision.ipynb
08/18/2022  02:18 AM            17,702 8. 5 june functions.ipynb
08/19/2022  02:21 PM            26,223 9. 12 june Exception handling.ipynb
08/19/2022  02:26 PM           408,078 9. Exception_handling_revision_class.ipynb
08/19/2022  08:01 PM                31 abc1.txt
07/30/2020  09:31 AM            10,389 assertion.png
08/18/2022  06:48 PM    <DIR>          ASSIGNMENTS
              13 File(s)      4,683,268 bytes
               4 Dir(s)  84,445,118,464 bytes free

In [84]:
#now in above list no of words in file abc1.txt has changed from 0 to 31 which means we have succefully written in the file

In [86]:
l = [1,2,3,5,6,"andy"]
#store it in a file:

In [87]:
f1=open("abc1.txt",'w')
f1.write(l)
f1.close()
#we cannot input list directly first convert it into str

TypeError: write() argument must be str, not list

In [88]:
f1=open("abc1.txt",'w')
f1.write(str(l))
f1.close()
#close karna important hai varna result nhi dikhega

In [90]:
#file extension any 
f2=open("abc2.ankit",'w')
f2.write("fghdtyfhfgvukjgkujghuuguuguiygb")
f2.close()

In [91]:
#other way to do same things:

In [94]:
%%writefile abc3.txt
my other way execution
FGSDCFGHDC
JHGVJHYGYGU
65344547
#here we dont need to close tpo see changes

Overwriting abc3.txt

In [101]:
# to read a existing file :
f = open("abc3.txt")
f.read()

'my other way execution\nFGSDCFGHDC\nJHGVJHYGYGU\n65344547\n#here we dont need to close tpo see changes\n'

In [102]:
f.read()

''

In [103]:
f.close()

In [ ]:
#is bar blank milla kyonki pehli baar entire data set pad liya aur 
pointer last index pe jaa chuka hai
to ab agar firse read karenge to last pointer pe '' aayega

In [104]:
#read from a particular location:: to set cursor at particular point
 
    
f=open("abc3.txt",'r')

In [105]:
f.read()

'my other way execution\nFGSDCFGHDC\nJHGVJHYGYGU\n65344547\n#here we dont need to close tpo see changes\n'

### seek and tell

In [106]:
#now:
#pointer at last location 
#SEEK FUNCTION: to move cursor at particular inde
f.seek(0)

0

In [107]:
#ab o pe set kar diya to firse read kar sakte hai 
f.read()

'my other way execution\nFGSDCFGHDC\nJHGVJHYGYGU\n65344547\n#here we dont need to close tpo see changes\n'

In [108]:
#ab firse last index pe aa gya 
f.read()

''

In [111]:
f.seek(16)

16

In [112]:
f.read()

'cution\nFGSDCFGHDC\nJHGVJHYGYGU\n65344547\n#here we dont need to close tpo see changes\n'

In [113]:
#Tell Function:
#tells about the index where cursor is currently in file

In [114]:
f1 = open("abc3.txt")

In [115]:
f1.tell()

0

In [116]:
f1.read()

'my other way execution\nFGSDCFGHDC\nJHGVJHYGYGU\n65344547\n#here we dont need to close tpo see changes\n'

In [117]:
f1.tell()

104

In [118]:
f1.seek(16)

16

In [119]:
f1.tell()

16

In [120]:
# IF WE GIVE PARAMETER IN READ FUNCTRION THEN IT WILL READ 
#CHARACTRS EQUAL TO PARNAMETER
f1.tell()

16

In [121]:
f1.read(8)

'cution\nF'

In [122]:
f1.tell()

25

### readline func and readlines function

In [124]:
f2 = open("abc3.txt")
f2.seek(0)

0

In [125]:
f2.readline()

'my other way execution\n'

In [126]:
f2.readlines()

['FGSDCFGHDC\n',
 'JHGVJHYGYGU\n',
 '65344547\n',
 '#here we dont need to close tpo see changes\n']

### file no func

In [129]:
f2.fileno()

7

In [131]:
f3 = open("test1.txt",'w')

In [133]:
f3.write("gonna write this tofay kjhvjadbfvakjfuhbafkjsbjfkjbsa")

53

In [134]:
f3.close()

In [135]:
#evertime you write it ovwerwrites so we append :::

### append mode

In [5]:
f =open("test1.txt" ,'a')#append mode

In [6]:
f.write("\n  ye append hone ye baad wala hai bhai dhyan se dekh lo ")

57

In [8]:
f.close()

### modes:

r+ ka matlab both read nad write mode ,agar file nhi hai to error __________
w+ both read and write bas ye check karta hai ki file hai ki nhi aur nhi hoti to create karta hai _____
a se append _____a+ append and crerate new

In [10]:
#filename 
f.name

'test1.txt'

In [13]:
#to check if file closed or not
f.closed

True

In [14]:
# to ckeck mode:
f.mode

'a'

In [15]:
# to create file ion specified location
f=open("D:/testfile.txt",'w')

### MAP , REDUCE AND FILTER FUNCTION

In [16]:
l=[2,45,2,4,2,5,8,56,8]
#try find sqr of each no in list and rreturn in list format:
x=[i*i for i in l]
print(x)

[4, 2025, 4, 16, 4, 25, 64, 3136, 64]

In [17]:
#Using MAP func:

#    map(func,iterable)

In [18]:
def sq(n):
    return n**2

In [19]:
map(sq,l)

In [20]:
list(map(sq,l))

[4, 2025, 4, 16, 4, 25, 64, 3136, 64]

In [21]:
# map always maps each func with each element of iterable....

In [24]:
list(map(lambda x: x**2,l))

[4, 2025, 4, 16, 4, 25, 64, 3136, 64]

In [25]:
#to conert every elt inside list into string:
l

[2, 45, 2, 4, 2, 5, 8, 56, 8]

In [26]:
list(map(lambda x: str(x),l))

['2', '45', '2', '4', '2', '5', '8', '56', '8']

In [27]:
#  Reduce function:

In [28]:
from functools import reduce

In [29]:
l=[3,4,5,6,7,8,9]
#give sunnation of list

In [30]:
sum(l)

42

In [31]:
#using reduce:
reduce(lambda a,b:a+b,l)

42

In [32]:
reduce(lambda a,b:a*b,l)

181440

In [35]:
reduce(lambda a,b,c:a+b+c,l)
#this will not work as a=3,b=4,c=5 so sum = 12
#now a=12,b=4,c=5.... to bigasd gya sum last mei c ke liye value nhi milegi

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [36]:
l=[1]
reduce(lambda a,b:a+b,l)

1

In [37]:
# **this is an EXCEPTION IN REDUCE as hamare pass l=[1] hai 
# b to hai hi nhi ye firbhi kaam kar rha hai

In [34]:


# Filter funct


#filters data

In [38]:
l=[2,45,4,2,6,8,45,3,7]
#humme isme se even no nikalene hai list mei se

In [39]:
list(filter(lambda x:x%2==0,l))

[2, 4, 2, 6, 8]

In [44]:
#filter looks for true conditions
#or:

In [45]:
def even(n):
    if n%2==0:
        return True

In [46]:
list(filter(even,l))

[2, 4, 2, 6, 8]

In [6]:
#prog to replace a char in string
a= input("Enter string:")
b=input("Enter char you want to remove: ")
c=input("Enter char you want to  replace :")
st=''
l=[i for  i in  a]
for i in l:
    if i == b:
        d=l.index(i)
        l.remove(i)
        l.insert(d,c)
print(st.join(l))

Enter string:skjgsenhdbgnhbkbj
Enter char you want to remove: b
Enter char you want to  replace :54
skjgsenhd54gnh54k54j