In [4]:
import pandas as pd

# to read a file:

In [12]:
df =pd.read_excel("E:\DATA SCIENCE\data fsds_\Attribute Dataset.xlsx")

In [13]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [10]:
# agar data ko ir mei daal de i.e. jupyter project wali mei to hume path nhi dena sirf file name i.e. "Attribute Dataset.xlsx likhna hai aur output aa jayega"

In [11]:
type(df)

pandas.core.frame.DataFrame

In [15]:
# suppose hume isi file ki sheet 2 read karni hai :
pd.read_excel("E:\DATA SCIENCE\data fsds_\Attribute Dataset.xlsx",sheet_name = "ankitsheet")

      egagesa     kyr    fh Unnamed: 3
0        egtj    fyrk   hsr        srh
1    eageagea   yrkyr   hsr         sr
2   aegeageag    kyrk   srh      srhsr
3        tuyk   yrkyr   rsh          h
4         kut     kyr    sr        srh
5        kyrk    kyrk   srh         sr
6         utk     hsr   yrk        NaN
7         NaN      sr   hsr         sr
8       rgsrh  hsrhsr  srju        NaN
9           h     NaN   hsr         hh
10        NaN     srh   NaN          h
11        NaN     NaN   NaN        srh
12        NaN      sr   NaN        NaN

In [19]:
# first row ko ye column name manta hai by default par hum usse eliminate kar sakte hai 
# like this :

In [18]:
pd.read_excel("E:\DATA SCIENCE\data fsds_\Attribute Dataset.xlsx",sheet_name = "ankitsheet", header= None)

            0       1     2      3
0     egagesa     kyr    fh    NaN
1        egtj    fyrk   hsr    srh
2    eageagea   yrkyr   hsr     sr
3   aegeageag    kyrk   srh  srhsr
4        tuyk   yrkyr   rsh      h
5         kut     kyr    sr    srh
6        kyrk    kyrk   srh     sr
7         utk     hsr   yrk    NaN
8         NaN      sr   hsr     sr
9       rgsrh  hsrhsr  srju    NaN
10          h     NaN   hsr     hh
11        NaN     srh   NaN      h
12        NaN     NaN   NaN    srh
13        NaN      sr   NaN    NaN

In [ ]:
# to give our own column name:

In [22]:
pd.read_excel("E:\DATA SCIENCE\data fsds_\Attribute Dataset.xlsx",sheet_name = "ankitsheet", header= None, names = ["C1" ,"C2","C3","C4"])

           C1      C2    C3     C4
0     egagesa     kyr    fh    NaN
1        egtj    fyrk   hsr    srh
2    eageagea   yrkyr   hsr     sr
3   aegeageag    kyrk   srh  srhsr
4        tuyk   yrkyr   rsh      h
5         kut     kyr    sr    srh
6        kyrk    kyrk   srh     sr
7         utk     hsr   yrk    NaN
8         NaN      sr   hsr     sr
9       rgsrh  hsrhsr  srju    NaN
10          h     NaN   hsr     hh
11        NaN     srh   NaN      h
12        NaN     NaN   NaN    srh
13        NaN      sr   NaN    NaN

In [23]:
# to print first 2 records
df.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [24]:
# to show last 4 records
df.tail(5)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [27]:
#csv:comma seperated value
#haberman dataset
pd.read_csv("E:\DATA SCIENCE\data fsds_\haberman.csv",header = None, names = ["Age" ," Patient's year of operation" , "Number of Positive" ,"Survival Status"])

     Age   Patient's year of operation  Number of Positive  Survival Status
0     30                            64                   1                1
1     30                            62                   3                1
2     30                            65                   0                1
3     31                            59                   2                1
4     31                            65                   4                1
..   ...                           ...                 ...              ...
301   75                            62                   1                1
302   76                            67                   0                1
303   77                            65                   3                1
304   78                            65                   1                2
305   83                            58                   2                2

[306 rows x 4 columns]

In [28]:
# humne haberman ki ek copy banai testhaberman aur us csv mei sab commas ki jagah @ daal diya ab hume vo file read karni hai

In [32]:
pd.read_csv("testhaberman.csv")

      30@64@1@1
0     30@62@3@1
1     30@65@0@1
2     31@59@2@1
3     31@65@4@1
4    33@58@10@1
..          ...
300   75@62@1@1
301   76@67@0@1
302   77@65@3@1
303   78@65@1@2
304   83@58@2@2

[305 rows x 1 columns]

In [33]:
pd.read_csv("testhaberman.csv" , sep= "@")

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [34]:
# dataset from github repisitory
# data khol lo link ke thr github pe uspe ek option hoga raw
#us raw pe click karo aur full data show hoga ab vo url ko de do yahan pe raw wala

pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv")

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [36]:
#humne apne data ki github repo bna ke call kiya hai :
# another dataset :
pd.read_csv("https://raw.githubusercontent.com/sudh9931/data/main/haberman.csv")

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [40]:
# reading data from website: #read html
a = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [41]:
type(a)  # it is a list an dnot a dataframe

list

In [42]:
a

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [43]:
len(a)

1

In [44]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [46]:
type(a[0]) # now this is a dataframe

pandas.core.frame.DataFrame

In [47]:
# to open json file an dcreate structure of it :
# json: key value pair data
#json: java script object notation file

In [48]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48306,1355213522,I_kwDOAA0YD85QxurS,48306,ENH: Add option to show number of changes made...,...,NaT,NONE,NaN,Feature Type\r\n- Adding new functionality to ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48304,1354923389,I_kwDOAA0YD85Qwn19,48304,ENH: Add ignore_index to Series.drop_duplicates,...,NaT,MEMBER,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48303,1354911518,PR_kwDOAA0YD84-ALqT,48303,Select_dtypes considers numpy int and pandas n...,...,NaT,CONTRIBUTOR,NaN,- [ ] closes #40234\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48302,1354906153,PR_kwDOAA0YD84-AKfs,48302,Backport PR #48027 on branch 1.5.x (ENH: Suppo...,...,NaT,NONE,NaN,Backport PR #48027: ENH: Support masks in grou...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48301,1354775939,PR_kwDOAA0YD849_ubj,48301,DEPR: Deprecate positional arguments in pivot,...,NaT,MEMBER,NaN,- [x] xref #30228 (Replace xxxx with the Githu...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48298,1354724041,PR_kwDOAA0YD849_jb_,48298,The indexes of DataFrame.describe(percentiles=...,...,NaT,CONTRIBUTOR,NaN,- [ ] closes #46362\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48296,1353599274,I_kwDOAA0YD85Qrkkq,48296,REGR: Adding a row via DataFrame.at,...,NaT,MEMBER,NaN,"```\r\ndf = pd.DataFrame({'a': [1, 2], 'b': [3...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48294,1353466383,PR_kwDOAA0YD8497U6V,48294,Run GC in file leak check,...,NaT,CONTRIBUTOR,NaN,This fixes a problem with `file_leak_context` ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48293,1353443957,PR_kwDOAA0YD8497Qv-,48293,BUG: DataFrame.pivot not respecting None as co...,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48292,1353432133,PR_kwDOAA0YD8497Opp,48292,ENH: Allow to skip series type check in assert...,...,NaT,NONE,NaN,Add an option check_series_type that is passed...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48290,1353353273,PR_kwDOAA0YD8497AYK,48290,"CLN, STYLE: remove unused variables and import...",...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48288,1353328749,PR_kwDOAA0YD84967of,48288,BUG: MultiIndex.append not checking names for ...,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48287,1353301403,I_kwDOAA0YD85Qqb2b,48287,ENH: Allow to skip series type check in assert...,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48286,1353191924,PR_kwDOAA0YD8496hY0,48286,TST: add tests for using .at() with DateTime i...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #29709 \r\n- [ ] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48285,1353172918,PR_kwDOAA0YD8496dZd,48285,WEB: Unpin pydata sphinx theme,...,NaT,MEMBER,NaN,- [x] closes #46615 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48283,1353125981,PR_kwDOAA0YD8496Tm1,48283,BLD: Build wheels using cibuildwheel,...,NaT,MEMBER,NaN,- [ ] closes #44027 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48281,1353017800,PR_kwDOAA0YD8495_yD,48281,DOC: Add none as a default argument for orient,...,NaT,CONTRIBUTOR,NaN,- [x] closes #48252 \r\n\r\nAdd None as an acc...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48280,1353008144,PR_kwDOAA0YD849599y,48280,BUG: array ufuncs with more than 2 inputs fail...,...,NaT,CONTRIBUTOR,NaN,- [ ] closes #39853\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48279,1352794232,PR_kwDOAA0YD8495RhH,48279,Backport PR #48159 on branch 1.5.x (TST: Fix i...,...,NaT,NONE,NaN,Backport PR #48159: TST: Fix interchange/plott...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48277,1352637188,I_kwDOAA0YD85Qn5sE,48277,DEPR: Compatibility with NumPy in ops,...,NaT,MEMBER,NaN,In #47836 the `*args`/`**kwargs` were deprecat...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48275,1352557522,PR_kwDOAA0YD8494elj,48275,BUG: Fixed inconsistent multiplication behavio...,...,NaT,CONTRIBUTOR,NaN,- [ ] closes #47953\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48265,1351762150,PR_kwDOAA0YD84911Iy,48265,CI: Setting up ssh key to upload prod docs,...,NaT,MEMBER,NaN,When we pushed the tag for pandas 1.5.0rc0 our...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48264,1351663731,PR_kwDOAA0YD8491gDj,48264,BUG: ArrowExtensionArray._from_* accepts pyarr...,...,NaT,MEMBER,NaN,- [ ] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48262,1351559320,I_kwDOAA0YD85QjyiY,48262,REF: rename DateOffset -> RelativeDeltaOffset,...,NaT,MEMBER,NaN,It used to be that DateOffset was the base cla...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48258,1351455222,PR_kwDOAA0YD84900Nc,48258,BUG: is_datetime64tz_dtype shortcut only for D...,...,NaT,MEMBER,NaN,- [x] closes #48238\r\n- [x] closes #34986\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48255,1351308018,I_kwDOAA0YD85Qi1Ly,48255,BUG: generated timestamps deviate from expecte...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48254,1351294894,PR_kwDOAA0YD8490ROn,48254,REF: avoid FutureWarning about using deprecate...,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48252,1351237349,I_kwDOAA0YD85Qij7l,48252,DOC: read_json should list `None` for `orient`,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48249,1351188794,I_kwDOAA0YD85QiYE6,48249,BUG: `file://` path handling throws error on c...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48248,1351023955,I_kwDOAA0YD85Qhv1T,48248,DOC: 1.5.0rc0 has issues in the whatsnew docu...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN

In [49]:
 js = pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

In [50]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'body', 'reactions', 'timeline_url',
       'performed_via_github_app', 'state_reason', 'draft', 'pull_request'],
      dtype='object')

In [51]:
js["user"] # user column ke andar ke records:

0     {'login': 'akald', 'id': 59920376, 'node_id': ...
1     {'login': 'mroeschke', 'id': 10647082, 'node_i...
2     {'login': 'weikhor', 'id': 36619387, 'node_id'...
3     {'login': 'meeseeksmachine', 'id': 39504233, '...
4     {'login': 'phofl', 'id': 61934744, 'node_id': ...
5     {'login': 'weikhor', 'id': 36619387, 'node_id'...
6     {'login': 'rhshadrach', 'id': 45562402, 'node_...
7     {'login': 'jonashaag', 'id': 175722, 'node_id'...
8     {'login': 'phofl', 'id': 61934744, 'node_id': ...
9     {'login': 'abalkin', 'id': 535197, 'node_id': ...
10    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
11    {'login': 'phofl', 'id': 61934744, 'node_id': ...
12    {'login': 'abalkin', 'id': 535197, 'node_id': ...
13    {'login': 'nealxm', 'id': 88364802, 'node_id':...
14    {'login': 'phofl', 'id': 61934744, 'node_id': ...
15    {'login': 'lithomas1', 'id': 47963215, 'node_i...
16    {'login': 'ambujpawar', 'id': 19887541, 'node_...
17    {'login': 'weikhor', 'id': 36619387, 'node_id'...
18    {'login': 'meeseeksmachine', 'id': 39504233, '...
19    {'login': 'rhshadrach', 'id': 45562402, 'node_...
20    {'login': 'srotondo', 'id': 97266896, 'node_id...
21    {'login': 'datapythonista', 'id': 10058240, 'n...
22    {'login': 'mroeschke', 'id': 10647082, 'node_i...
23    {'login': 'jbrockmendel', 'id': 8078968, 'node...
24    {'login': 'mroeschke', 'id': 10647082, 'node_i...
25    {'login': 'chalmerlowe', 'id': 7291104, 'node_...
26    {'login': 'jbrockmendel', 'id': 8078968, 'node...
27    {'login': 'bashtage', 'id': 5585221, 'node_id'...
28    {'login': 'pyrito', 'id': 8106509, 'node_id': ...
29    {'login': 'Dr-Irv', 'id': 15113894, 'node_id':...
Name: user, dtype: object

In [52]:
js["user"][0]

{'login': 'akald',
 'id': 59920376,
 'node_id': 'MDQ6VXNlcjU5OTIwMzc2',
 'avatar_url': 'https://avatars.githubusercontent.com/u/59920376?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/akald',
 'html_url': 'https://github.com/akald',
 'followers_url': 'https://api.github.com/users/akald/followers',
 'following_url': 'https://api.github.com/users/akald/following{/other_user}',
 'gists_url': 'https://api.github.com/users/akald/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/akald/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/akald/subscriptions',
 'organizations_url': 'https://api.github.com/users/akald/orgs',
 'repos_url': 'https://api.github.com/users/akald/repos',
 'events_url': 'https://api.github.com/users/akald/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/akald/received_events',
 'type': 'User',
 'site_admin': False}

In [53]:
# ab hum attribute dataset wale ko json mei convert karenge:
df.to_json("testjsonattributedataset.json")

In [54]:
pwd

'C:\\Users\\HP\\Jupyter codes'

In [55]:
#ye data json mei covert ho ke present working directory mei sdave ho jayega 
#hum online json viewer mei ja ke usko dekh bhi sakte hai esily

In [56]:
# sql database mei fetch karke record fir hum for loop laga ke dekhte the data

In [57]:
#sparx dataframe is faster than pandas

In [58]:
# to store info permanently in ypur system 

df.to_csv("E:\DATA SCIENCE\data fsds\conversiontocsvattributedataset.csv")

In [59]:
# to store data but with differwent seperator instead of comma:

df.to_csv("E:\DATA SCIENCE\data fsds\conversiontocsvattributedataset123.csv",sep = "#")

In [60]:
# suppose we dont want consider row indexes

df.to_csv("E:\DATA SCIENCE\data fsds\conversiontocsvattributedataset1111.csv",index = False)

In [61]:
''' 
now we have two datasets attribute dataset and dress sales dataset which are botjh connected by dress ID
so we want to JOIN these two tables so we do it as follows : 
using mysql :
'''

' \nnow we have two datasets attribute dataset and dress sales dataset which are botjh connected by dress ID\nso we want to JOIN these two tables so we do it as follows : \nusing mysql :\n\n\n'

In [63]:
'''
Mysql : (through python or mysqlsql)
    
    1. Create a  table attribute dataset and dress dataset
    2. Do a bulk load for these two table for respective dataset 
    3. read these dataset in pandas as a dataframe 
    
    4. Convert attribute dataset in json format 
    5. Store this dataset into mongodb
    
    
    6. in sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID
    7. Write a sql query to find out how many unique dress that we have based on dress id 
    8. Try to find out how mnay dress is having recommendation 0
    9. Try to find out total dress sell for individual dress id 
    10. Try to find out a third highest most selling dress id 
    
'''

'\nMysql : (through python or mysqlsql)\n    \n    1. Create a  table attribute dataset and dress dataset\n    2. Do a bulk load for these two table for respective dataset \n    3. read these dataset in pandas as a dataframe \n    \n    4. Convert attribute dataset in json format \n    5. Store this dataset into mongodb\n    \n    \n    6. in sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID\n    7. Write a sql query to find out how many unique dress that we have based on dress id \n    8. Try to find out how mnay dress is having recommendation 0\n    9. Try to find out total dress sell for individual dress id \n    10. Try to find out a third highest most selling dress id \n    \n'